:root {
  --vh: calc((var(--window-height) - env(safe-area-inset-bottom)) / 100);
  --vmin: min(var(--vh), 1vw);
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 10%);
  user-select: none;
  -webkit-user-select: none;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100 * var(--vh));
}
.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  touch-action: none;
}
.piece.king::after {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("crown.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
.piece.p1 {
  background-color: #9f2e24;
  background-image: linear-gradient(45deg, #9f2e24 0%, #680c03 100%);
}
.piece.p2 {
  background-color: #45484d;
  background-image: linear-gradient(45deg, #45484d 0%, #000000 100%);
}
#board {
  background-color: white;
  touch-action: pinch-zoom;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  padding: calc(0.5 * var(--vmin));
  gap: calc(0.5 * var(--vmin));
  width: calc(97 * var(--vmin));
  height: calc(97 * var(--vmin));
}
.newGame {
  cursor: pointer;
  background-image: url("restart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}
.newGame:hover,
.newGame:active {
  background-color: hsl(0, 0%, 15%);
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 85%);
}
.square:nth-child(16n + 2),
.square:nth-child(16n + 4),
.square:nth-child(16n + 6),
.square:nth-child(16n + 8),
.square:nth-child(16n + 9),
.square:nth-child(16n + 11),
.square:nth-child(16n + 13),
.square:nth-child(16n + 15) {
  background-color: hsl(0, 0%, 55%);
}
.square.target {
  background-color: hsl(0, 0%, 45%);
}
