body {
  margin: 0;
  padding: 0;
  background-color: #69452c;
  user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 8vw;
}
@media (min-aspect-ratio: 1 / 1) {
  html {
    font-size: 8vh;
  }
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-right: 0.035rem solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.07rem solid rgba(0, 0, 0, 0.3);
  touch-action: none;
}
.piece.king {
  background-image: url("crown.svg");
  background-repeat: no-repeat;
  background-position: 52% center;
  background-size: 60%;
}
.piece.p1 {
  background-color: #770f05;
}
.piece.p2 {
  background-color: #25282d;
}
#board {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  width: 10rem;
  height: 10rem;
  background-color: #371e0c;
  box-shadow: 0 0 1rem 0.25rem #371e0c;
  padding: 0.3rem;
  border-radius: 0.2rem;
  touch-action: pinch-zoom;
}
#actions {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  font-family: monospace;
  color: white;
  background-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#newGame {
  cursor: pointer;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9a87e;
}
.square:nth-child(16n + 2),
.square:nth-child(16n + 4),
.square:nth-child(16n + 6),
.square:nth-child(16n + 8),
.square:nth-child(16n + 9),
.square:nth-child(16n + 11),
.square:nth-child(16n + 13),
.square:nth-child(16n + 15) {
  background-color: #c17939;
}
.square.target {
  background-color: #cd905a;
}
